<div class="row cards-section">
  {{#each object as |posts|}}
    {{#each posts as |post|}}
      <!-- Card -->
      <div class="col-xs-12 col-sm-6 col-md-3 card {{post._id}} post-card" data-id={{post._id}}>
        <div data-id={{post._id}} class="card-container">
          {{#if post.blog}}
            <sub><b>Blog</b></sub>
          {{else}}
            <sub><b>Website</b></sub>
          {{/if}}
          <div>
            <h3 data-id={{post._id}}>{{post.title}}</h3>
          </div>
          <div>
            <p>{{post.content}}</p>
          </div>
          <div class="btn-group card-buttons" role="group">
            <button class="btn btn-primary show-more-button {{post.owner}}" data-id= {{post._id}} type="button" data-toggle="modal" data-target="#post-{{post._id}}">Show All</button>
            <button class="btn btn-primary update-button {{post.owner}}" data-id= {{post._id}} type="button" data-toggle="modal" data-target=".update-post-modal-lg-{{post._id}}">Update</button>
            <button class="btn btn-danger delete-button {{post.owner}}" data-id= {{post._id}} type="button" data-toggle="modal" data-target=".delete-post-modal-{{post._id}}">Delete</button>
          </div>
        </div>
      </div>

      <!-- Update Modal -->
      <div class="post-modal-handlebars update-post modal update-post-modal-lg-{{post._id}}" id="update-post-{{post._id}}" tabindex="-1" role="dialog" aria-labelledby="updatepost" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Update Your post!</h3>
            </div>
            <div class="modal-body">
              <form class="update-post-form" data-id= {{post._id}}>
                <div class="form-group">
                  {{#if post.blog}}
                    <label class="radio-inline">
                      <input type="radio" name="post[blog]" id="post-blog-update-{{post._id}}" value="true" checked>Blog
                    </label>
                    <label class="radio-inline">
                      <input name="post[blog]" type="radio" id="post-page-update-{{post._id}}" value="false">Web Page
                    </label>
                  {{else}}
                    <label class="radio-inline">
                      <input name="post[blog]" type="radio" id="post-blog-update-{{post._id}}" value="true">Blog
                    </label>
                    <label class="radio-inline">
                      <input name="post[blog]" type="radio" id="post-page-update-{{post._id}}" value="false" checked>Web Page
                    </label>
                  {{/if}}
                </div>
                <div class="form-group">
                  <label for="post-title-update-{{post._id}}">Post Title</label>
                  <input type="text" class="form-control" id="post-title-update-{{post._id}}" name="post[title]" placeholder="Enter post title" value="{{post.title}}" required>
                </div>
                <div class="form-group">
                  <label for="post-content-update-{{post._id}}">Post Content</label>
                  <textarea type="text" class="form-control" id="post-content-update-{{post._id}}" name="post[content]" placeholder="Content goes here!" rows="3" required>{{post.content}}</textarea>
                </div>
                <button class="btn btn-primary update-post" data-id= {{post._id}} type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div id="delete-post-{{post._id}}" class="post-modal-handlebars post-modal delete-post modal delete-post-modal-{{post._id}}" tabindex="-1" role="dialog" aria-labelledby="deletepost" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title"> Are you sure you want to Delete?! </h3>
            </div>
            <div class="modal-body">
              <form data-id= {{post._id}} class="destroy-post-form">
                <button type="submit" class="delete-btn btn btn-danger">Yes, delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--  content modal -->
      <div class="show-all-modal modal {{post._id}}-content" tabindex="-1" role="dialog" id="post-{{post._id}}">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{post.title}}</h5>
              {{#if post.blog}}
                <sub><b>Blog</b></sub>
              {{else}}
                <sub><b>Website</b></sub>
              {{/if}}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
              <p>{{post.content}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    {{/each}}
  {{/each}}
</div>
