<div class="container">
    POSTS:
    {{#each object as |posts|}}
      {{#each posts as |post|}}
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          {{#if post.blog}}
          Blog
          {{else}}
          Website
          {{/if}}
          <div>{{post.title}}</div>
          <div>{{post.content}}</div>
          <button class="update-button" data-id={{post._id}} type="button">Update</button>
          <button class="delete-button" data-id={{post._id}} type="button">Delete</button>
        </div>
      {{/each}}
    {{/each}}
</div>
